*{
    margin: 0;
    
    }
    .box{
    width: 1600px;
    margin: 0 auto;
    }
    .header {
    margin: 0 auto;
    height: 80px;
    background-color:#06112f;
    color: whitesmoke;
    padding-top: 0;
    }
    .header_iner {
    display: flex;
    height: 80px;
    justify-content:space-between;
    width: 1600px;
    margin: 0 auto;
    }
    .gym_icon {
    display: flex;
    margin-top: 10px;
    width: 250px;
    align-items: center;
    }
    
    .gym_yakora {
    display: flex;
    
    }
    .gym_nav {
    width: 80px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    }
    
    .nav_item {
    text-decoration: none;
    list-style-type: none;
    }
    
    
    .header_menu{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    }
    
    .menu_item{
        display: flex;
        text-align: center;
        text-transform: uppercase;
        font-family: sans-serif;
        padding: 10px;
        text-decoration: none;
        color: whitesmoke;

        
    }
    .menu_item:hover{
        background-color: #ff2b2b;
        border: #ff2b2b solid 10px;
        border-radius: 5px;
      
    }
    .li_menu_item {
    list-style-type: none;
    
    }
    
    .sections{
        color: whitesmoke;
    font-family: sans-serif;
    text-align: center;
    padding-top: 40px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding-bottom: 30px;
    }
    .about_abonements {
    }
    .about_abonements_inner {
    }
    .spisok_abonements {
        background-color: #06111f;
        color: whitesmoke;
        text-transform: uppercase;
        text-align: center;
    }
  table{
    font-family: sans-serif;
    text-align: center;
    border-collapse: separate;
    border-spacing: 20px;
    background: #656665;
  }
  .table1{
    width: 1903px;
  }
  
    
    
    
    .contacts{
    background-color: #06112f;
    display: flex;
    }
    .contacts_inner{
    padding-top: 40px;
    text-decoration: none;
    margin-left: 650px;
    color: whitesmoke;
    }
    .inner_contacts_inner{
    display: flex;
    text-transform: uppercase;
    
    }
    .text_footer_contact{
    padding-left: 20px;
    color:whitesmoke;
    }
    #mail{
    text-transform: none;
    }
    .image_price_inner img{
    object-fit: cover;
    }
    .di{
    background-color: #ff2b2b;
    border: #ff2b2b solid 10px;
    border-radius:10px;
    margin-top: 30px;
    padding: 10px;
    text-transform: uppercase;
    color: whitesmoke;
    font-family: sans-serif;
    
    }
    .di a{
    color: whitesmoke;
    text-decoration: none;
    }
    .price {
        background-color: #06111f;
        
    }
    .price_all {
    }
    .abonement {
        color: whitesmoke;
        font-family: sans-serif;
        text-align: center;
        padding-top: 40px;
        text-transform: uppercase;
        margin-bottom: 10px;
        padding-bottom: 30px;
    }
    .price_inner{
        display: flex;
        justify-content: space-between;
    }
    .more_about_price {
    }
    .image_price{
    
    }
    .image_price img {
        width: 600px;
        height: 600px;
    }
    .image_price_inner {
    }
    .textprice {
    }
    .text_price_inner {
        text-align: center;
        text-transform: uppercase;
        font-family: sans-serif;
        color: whitesmoke;
    }
    .padding_price{
        padding-top: 10px;
    }
    .price_p1 {
        color: #ff2b2b;
    }
    .price_p2 {
        color: #fce80d;
    }
    .price_p3 {
        color: #008000;
    }
    .p1{
        text-decoration: underline;
    }
    .p2{
        text-decoration: underline;
    }
    .p3{
        text-decoration: underline;
    }